export TF_VAR_subscription_id="$(az account show --query id -o tsv)"
export TF_VAR_gh_repo="scallighan/hubandspoke-aca"
export TF_VAR_acme_email_address="admin@example.com"

# Optional overrides:
# export TF_VAR_location="EastUS2"
# export TF_VAR_hub_vnet_address_space="10.0.0.0/16"
# export TF_VAR_dmz_vnet_address_space="10.1.0.0/16"
# export TF_VAR_app_vnet_address_space="10.2.0.0/16"
# export TF_VAR_hub_firewall_subnet_prefix="10.0.0.0/26"
# export TF_VAR_hub_firewall_management_subnet_prefix="10.0.0.64/26"
# export TF_VAR_dmz_application_gateway_subnet_prefix="10.1.0.0/24"
# export TF_VAR_dmz_firewall_subnet_prefix="10.1.1.0/26"
# export TF_VAR_dmz_firewall_management_subnet_prefix="10.1.1.64/26"
# export TF_VAR_dmz_container_apps_subnet_prefix="10.1.4.0/23"
# export TF_VAR_app_container_apps_subnet_prefix="10.2.4.0/23"
# export TF_VAR_application_gateway_capacity=1
# export TF_VAR_application_hostname="easyauth.example.com"
# export TF_VAR_acme_dns_zone_name="easyauth.example.com"
